/* body */
body {
    margin: auto;
    width: 125ex;
}


/* header */
header {
    margin: auto;
    min-height: 5em;
}

header hgroup {
    display: inline-block;
    float: right;
}

header>hgroup:first-child {
    float: left;
    width: 40%;
}

div#Login {
    margin-bottom: .25em;
}

div#Login dt,div#Login dd {
    display: inline-block;
}


/* messages */
aside#Mensajes {
    position: absolute;
    max-width: 200px;
    right: 0;
    top: 4em;
    background: #DFD;
    border-radius: 10px 0 0 0;
}

p.mensaje {
    margin: .5em 1em;
}


/* content */
div#Contenido {
    margin: .5em auto auto auto;
    min-height: 20em;
}


/* footer */
footer {
    margin: .5em auto auto auto;
}


/* movimientos */
aside#cuenta {
    background: #fff;
    border-radius: 10px;
    min-height: 20em;
    position: absolute;
    right: 2em;
    text-align: left;
    top: 8em;
    width: 20em;
}

aside#cuenta section {
    margin: 1em;
}

aside#cuenta section figure {
    text-align: center	;
}

aside#cuenta section h1 {
    text-align: center;
}

aside#cuenta section h2 {
    text-align: center;
}

aside#cuenta section table {
    margin: auto;
    width: 100%;
}

aside#cuenta section table tr#descuento th,
aside#cuenta section table tr#subtotal th,
aside#cuenta section table tr#iva th,
aside#cuenta section table tr#total th {
    font-weight: bold;
    text-align: right;
}



/* productos */
section#productos {
    margin: auto;
}

section#productos figure {
    border: 1px solid #000;
    border-radius: 10px;
    display: inline-block;
    height: 200px;
    margin: 1em auto 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 160px;
}

section#productos figure div.windowTop {
    background: #ada;
    border-radius: 10px 10px 0 0;
    height: 1em;
}

section#productos figure span.edit {
    position: absolute;
    left: 1ex;
}

section#productos figure span.delete {
    position: absolute;
    right: 1ex;
}

section#productos figure.producto h1 {
    margin: .5em 0 0 0;
}

section#productos figure img {
    margin: .5em 0 0 0;
}

section#productos figure figcaption,section#productos figure p {
    text-align: left;
    margin: 0 .5em 0 .5em;
}

section#productos figure.producto figcaption {
    max-height: 4em;
    font: 8pt/8pt verdana;
}

section#productos figure p.precio {
    font-weight: bold;
    margin-top: .5em;
}


/* usuarios */
table#usuariosTabla {
    margin: 1.5em auto;
}

table#usuariosTabla thead {
    
}

table#usuariosTabla tbody {

}

table#usuariosTabla th {
    text-align: left;
    vertical-align: middle;
    width: 20%;
}

table#usuariosTabla tr {
    height: 1.5em;

}

table#usuariosTabla td {
    vertical-align: middle;
}

table#usuariosTabla td:last {
    text-align: center;
}
