/* body */
body {
    margin: auto;
    width: 125ex;
}

/* header */
header {
    margin: auto;
    min-height: 5em;
}

header hgroup {
    display: inline-block;
    float: right;
}

header > hgroup:first-child {
    float: left;
    width: 40%;
}

div#Login {
    margin-bottom: .25em;
}

div#Login dt, div#Login dd {
    display: inline-block;
}

/* content */
div#Contenido {
    margin: .5em auto auto auto;
    min-height: 20em;
}

/* footer */
footer {
    margin: .5em auto auto auto;
}

/* productos */
section#productos figure {
    border-radius: 10px;
    border: 1px solid #000;
    display: inline-block;
    height: 160px;
    margin: 1em auto 0 auto;
    overflow: auto;
    text-align: center;
    vertical-align: top;
    width: 160px;
    padding: .5em;
}

section#productos figure img {
}

section#productos figure figcaption {
    text-align: left;
}

section#productos figure figcaption.precio {
    font-weight: bold;
    margin: .5em 0 0 0;
}
