/* General */
* {
    font-family: verdana;
}

body {
}

header {
}

header hgroup {
    display: inline-block;
}

header hgroup h1 {
	display: inline-block;
}

header hgroup h2 {
	display: inline-block;
	font-size: 10pt;
}

header hgroup h3 {
	font-size: 10pt;
	margin-left: 1em;
}

nav {
    float: right;
}

header div#Login {
    display: block;
    float: right;
}

div#Contenido {
    min-height: 400px;
    margin-top: 1em;
}

div#Contenido h1 {
	font-size: 14pt;
}

footer {
    margin-top: 2em;
    text-align: right;
}


/* Adquirir  */
section#productos {
    height: 200px;
    margin: none;
    text-align: center;
    width: 70%;
}

section#productos section {
	height: 80%;
}

section#productos section section {
	height: 80%;
}

section#productos section section figure {
    display: inline-block;
    height: 100px;
    width: 24%;
}

section#productos section section figure img {
	height: 50%;
	margin-top: 10%;
}

/* Productos */
table#ProductosTabla {
    text-align: left;
    margin: auto;
}

table#ProductosTabla thead th {
    width: 20%;
}

/* Botones */
.button {
    width: 20%;
    /*height: 40%;*/
    margin-left: 20%;
    margin-top: 10%;
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 15px/100% Arial, Helvetica, sans-serif;
    padding: 5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}

.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
