/* Menu */
nav {
    display: inline-block;
    position: absolute;
    right: 1em;
    top: 0;
}

nav a {
    text-decoration: none;
    font-size: 14pt;
}

ul.nav {
    display: inline-block;
    margin: 0;
    padding: 0;
}

ul.nav li {
    display: inline-block;
    text-align: center;
    width: 12ex;
}
