/* Menu */
nav {
    display: inline-block;
    height: 18px;
    padding: .5em;
    text-align: right;
}

nav a {
    font-size: 14px;
    font-weight: bold;
	color: white;
    margin-right: 3em;
    text-decoration: none !important;	
}

div#Login,
div#Login dl dt,
div#Login dl dd {
    display: inline-block;
    margin: 0;
}

ul.nav {
    display: inline-block;
    margin: 0;
    padding: 0;
}

ul.nav li {
    display: inline-block;
    margin: 0 0 0 1em;
    text-decoration: none;
}
