/* general */
a, a:visited, a:active {
    text-decoration: none;
}

/* header */
header h1 {
    font: 20pt Verdana;
    color: #0d0;
}

/* menu */
ul.nav li {
    border: 2px ridge #fff;
}

ul.nav li:hover {
    border-radius: 10px;
    border: 2px ridge #3ac;
}

/* contenido */
div#Contenido h1 {
    font: 16pt Verdana;
    color: #0d0;
}

/* productos */
table thead tr {
	background: #aaf;
}

table tbody tr:hover {
	background: #ffa;
	cursor:     default;
}
